<!-- Tech in Miami upcoming events -->
<!-- blog -->
<!-- works -->
<!--  -->

<section>
	<div class="containsOne">
		<div class="containsOne header1">
			Tech in Miami
		</div>
	</div>

	<div class="containsRows">
		<%= render partial: 'techinmiami/events' %>
	</div>
</section>

<section>
	<div class="containsOne">
		<div class="containsOne header1">
			Blog
		</div>
	</div>
	<div class="containsRows">
		<div class="containsOne header2">Technical</div>
		<div class="containsOne header2">Personal</div>
	</div>
</section>

<!-- <section>
	<div class="containsOne">
		<div class="header1">
			The first section h2/title
		</div>
	</div>
</section> -->