
<section class="rows full">test</section>

<% content_for :aside do %>
	<div class="center em12">EventBrite Tech Events</div>
	<%= @events = Event.last(5)
		render partial: 'techinmiami/events', collection: @events, as: :event 
		%>
<% end %>