<section>
	<div class="containsOne">
		<div class="containsOne header1">
			TECH IN MIAMI
		</div>
	</div>
	<div class="containsRows">
		<div class="containsOne header2">Section1 title</div>
		<div class="containsOne header2">Section2 title</div>
	</div>
</section>

<section>
	<div class="containsOne">
		<div class="header1">
			The first section h2/title
		</div>
	</div>
</section>