<section>
	
<div class="containsOne">
	<div class="containsOne header1">
		Upcoming Tech Events in Miami
	</div>

</div>
<div class="containsRows">
	<div class="containsOne">
		<% if current_user %>

			<%= form_for :event, url: '/techinmiami/newevent' do |f| %>
			  <%# The event URL is used to find the event ID. %>
			  <br>Enter an eventBrite URL. This will access the event information from eventbrite, and add it to my website. <br><br>eventURL: <%= f.text_field :eventURL %>
			  <%= f.submit "Submit" %>
			<% end %>
		<% end %>
	</div>

<%= @events = Event.last(5)
			render partial: 'techinmiami/events', collection: @events, as: :event %>
</div>
</section>