<section>
	<div class="containsOne">
		<div class="containsOne header1">
			Upcoming Tech Events in Miami
		</div>
	</div>
	<div class="containsRows">
		<%= @events = Event.last(5)
			render partial: 'techinmiami/events', collection: @events, as: :event %>
	</div>
</section>