<div class="flex1 center">
  <div class="rows fullish">
      <section class="rows full">
		<div class="top center full em15"><%= @post.title %></div>
		<div class="full center"><%= @post.created_at.strftime('%b %d, %Y') %></div>
		<div class="full center"><%= raw @post.body %></div>
      </section>
  </div>
</div>
<div class="flex3 rows">
  <div class="rows fullish">
    <section class="rows full">
      <div class="center top em15">test</div>
      <div class="center">test</div>
      <div class="center">test</div>
    </section>
  </div>
</div>