<div class="center em12">Post</div>
<div class="flex1 center">
  <div class="rows fullish">
      <section class="rows full">
		<div class="top center full em15"><%= @post.title %></div>
		<div class="full center"><%= @post.created_at.strftime('%b %d, %Y') %></div>
		<div class="full center rows"><%= raw @post.body %></div>
      </section>
  </div>
</div>
<% content_for :aside do %>
  <div class="center em12">Posts</div>
  <%= render partial: 'posts/post', collection: recentPosts(5), as: :post %>
<% end %>
