// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header1, .header2, .header3, .header4 {
	color: #2c3e50;
	margin:.25em;
	padding:0;
}
.header1 {
	font-size:2em;
}
.header2 {
	font-size:1.5em;
}
.header3 {
	font-size:1.3em;
}
.bgcolor-blue {background-color:#2c3e50;}
.bgcolor-green {background-color:#18BC9C;}
.fontcolor-blue {color:#2c3e50;}
.fontcolor-green {color:#18BC9C;}
.em1 {font-size:1em;}
.em12 {font-size:1.2em;}
.em15 {font-size:1.5em;}
.em2 {font-size:2em;}
.em25 {font-size:2.5em;}
.em3 {font-size:3em;}
.em35 {font-size:3.5em;}
.em4 {font-size:4em;}

header a {
	text-decoration:none;
	color:white;
}
section a {
	text-decoration:none;
	color:#18BC9C;
}
body {
	display:flex;
	flex-direction:column;
	font-size:10px;
	margin:0;
	font-family:"Montserrat","Helvetica Neue";
}
header {
	padding:1.25em;
	font-size: 1.6em;
	background-color:#2c3e50;
	text-transform:uppercase;
	font-weight:700;
	text-shadow: 1px 1px #222;
	color:white;

	display:flex;
	flex-direction:row;
	justify-content:space-between; //logo goes left, buttons go right, space between.
}
	header nav.logo {
		font-size:1.5em;
		white-space:nowrap; //disallows text-wrapping on browser horiz. width decrease.
		display:flex;
		flex-direction:column;
	}
	header nav.logo #admin {
		font-size:10px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}

	header nav.navButtons {
		display:flex;
		flex-direction:row; //lays out buttons as row
		flex-wrap:wrap; //allows wrapping when horizontal width is decreased
		align-items:center; // aligns center axis of buttons to logo
		justify-content:flex-end; //overflowed buttons stick to right margin
	}
		header .navButtons .navButton a {
			padding: 0 .85em;
		}
		header nav a:hover {
			transition: all 0.2s ease-in-out;
			color:#18BC9C;
		}
	header.subheader {
		display:none;
		background-color:#18BC9C;
		margin:0 5px;
		border-radius: 0 0 5px 5px;
		color:white;
		text-shadow:none;
		justify-content:space-around;
	}

	#tech {
		display:flex;
		// tamiami angels
		// new world angels
		// places to go to get funding
		// resource map
		
	}
main * {display:flex;}
main {
	margin: .5em;
	display:flex;
	flex-direction:column;
}
	section {
		border: 2px solid #2c3e50;
		border-radius: 25px ;
		display:flex;
	}
	section .header1 {
		margin:0;
		border-radius:20px 20px 0 0;
		border-bottom:2px solid #2c3e50;
		background-color:#18BC9C;
	}
	section h2 {
		font-size: 2em;
		
	}
	.full {width:100%}
	.center {
		justify-content:center;
		display:flex;}
	.left {
		justify-content:left;
		display:flex;}
	.space-around {
		justify-content:space-around;
	}
	div.containsRows {
		border-radius: 5px ;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.containsColumns {
		display:flex;
		flex-direction:row;
	}
main.columns, .columns {
	display:flex;
	flex-direction:row;
}
main.rows, .rows {
	display:flex;
	flex-direction:column;
}
.flex {
	display:flex;
}
.stretch{
	align-items:stretch;
}
.flex1 {flex:1 80%;}
.flex3 {flex:3 20%;}
.padchildren > * {
	padding:.3em;
}
.top {
	background-color:#18BC9C;
	margin:0;
	border-radius: 22px 22px 0 0;
}
.pad0 {
	padding:0;
}
.padvert0 {padding-top: 0; padding-bottom:0;}
.padhorz0 {padding-left: 0; padding-right: 0;}